<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="w-full h-screen bg-zinc-900 text-white p-10">
        <h1 class="text-3xl mb-10 underline">Create your account </h1>
        <form action="/register" method="post" class="gap-3">
            <input class="px-4 py-2 bg-zinc-500 outline-none rounded-lg " type="text" placeholder="name" name="name">
            <input class="px-4 py-2 bg-zinc-500 outline-none rounded-lg " type="text" placeholder="username" name="username">
            <input class="px-4 py-2 bg-zinc-500 outline-none rounded-lg " type="email" placeholder="email" name="email">
            <input class="px-4 py-2 bg-zinc-500 outline-none rounded-lg " type="number" placeholder="age" name="age">
            <input class="px-4 py-2 bg-zinc-500 outline-none rounded-lg " type="password " placeholder="password" name="password">
            <input type="submit" value="Sign Up" class="px-5 py-2 bg-blue-500 rounded-lg">
        </form>
        <a href="/login" class="px-5 py-2 bg-blue-500 mt-10 inline-block rounded-lg text-2xl">Sign in</a>
    </div>
    
</body>
</html>